%h1 Listing histories

%table
  %tr
    %th User
    %th Uid
    %th Provider
    %th Resource
    %th Text
    %th Image
    %th Url
    %th Published at
    %th Location
    %th Data
    %th
    %th
    %th

  - @histories.each do |history|
    %tr
      %td= history.user
      %td= history.uid
      %td= history.provider
      %td= history.resource
      %td= history.text
      %td= history.image
      %td= history.url
      %td= history.published_at
      %td= history.location
      %td= history.data
      %td= link_to 'Show', history
      %td= link_to 'Edit', edit_history_path(history)
      %td= link_to 'Destroy', history, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New History', new_history_path
