= link_to 'Fetch histories', histories_path, method: :post

%h1 Listing histories

%table
  %tr
    %th User
    %th Uid
    %th Provider
    %th Resource
    %th Text
    %th Image
    %th Url
    %th Published at
    %th Location
    %th Data

  - @histories.each do |history|
    %tr
      %td= history.user.name
      %td= history.uid
      %td= history.provider
      %td= history.resource
      %td= history.text
      %td= image_tag history.image
      %td= history.url
      %td= history.published_at
      %td= history.location
      %td= history.data

%br

= link_to 'clear histories', clear_histories_path, method: :delete
