%h1 Fetch histories
%ul
  - ['twitter', 'facebook', 'foursquare', 'instagram'].each do |provider|
    %li= link_to "from #{provider.capitalize}", histories_path(provider: provider), method: :post

%h1 Export
%ul
  %li= link_to 'to JSON', histories_path(format: 'json')

%h1 Listing histories

%table
  %tr
    %th Provider
    %th Resource
    %th Text
    %th Image
    %th Published at
    %th Location

  - @histories.each do |history|
    %tr
      %td= history.provider
      %td= history.resource
      %td= history.text
      %td
        = link_to history.url do
          = image_tag history.image, size: '100x100'
      %td= history.published_at
      %td= history.location

%h1 Manage
%ul
  %li= link_to 'clear histories', clear_histories_path, method: :delete
