!!!
%html
  %head
    %title Hstry
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |type, message|
      %p= "#{type}: #{message}"
    = yield

    %hr
    %footer
      - if current_user
        Logged in as:
        = link_to current_user.name, :connections
        |
        = link_to 'logout', :logout
        %br
      = link_to 'HOME', '/'
